.collitempage_container {
  margin-left: 20px;
}

.item_card_container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.arrow-image {
  width: 36px;
}

.card_image {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

.card {
  color: white;
  display: flex;
  flex-direction: column;
  width: 45%;
  background: #3c3c3c;
  border-radius: 0;
}

.card_text {
  color: #fff;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

h3 {
  margin-bottom: 10px;
}

.card_text {
  color: #fff;
  font-size: 20px;
  margin: 20px;
  align-items: center;
}

.actions_container {
  background-color: #3c3c3c;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.action {
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr {
  width: 80%;
}

.action_click {
  margin: 40px;
  cursor: pointer;
}

.action_click:hover {
  color: #03c8c8;
}

.social_media_icons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.button-2 {
  background-color: #03c8c8;
  border-radius: 8px;
  border-style: none;
  color: #3c3c3c;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  margin: 30px;
  width: 150px;
  padding: 10px;
  transition: color 100ms;
}

.button-2:hover {
  background-color: #3affff;
  color: black;
}

/* mobile */
@media (max-width: 600px) {
  .collitempage_container {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
  }

  .item_card_container {
    display: flex;
    flex-direction: column;
    width: auto;
  }

  .card {
  flex-direction: column;
  width: 100%;
  }

  .actions_container {
    flex: 1 1 auto; /* fill the width of parent */
    width: 100%;    /* ensures full width */
  }
}

/* tablet */
@media (max-width: 1023px) {
  .collitempage_container {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
  }
}
