.collection_header {
  display: flex;
  justify-content: center;
}
.collection {
  display: flex;
}

.hello {
  color: white;
  font-size: 20px;
  width: 100%;
  text-align: end;
}

.arrow-image {
  width: 36px;
}

.card_container {
  margin: 20px;
}
.heading {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.heading .collection_buttons {
  margin-right: auto;
  margin-top: 20px;
  justify-content: space-between;
  width: 25%;
  display: flex;
}

.button-1 {
  background-color: #03c8c8;
  border-radius: 8px;
  border-style: none;
  color: #3c3c3c;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
  transition: color 100ms;
}

.button-1:hover {
  background-color: #3affff;
  color: black;
}

.save {
  background-color: #03c8c8;
  border-radius: 8px;
  border-style: none;
  color: #3c3c3c;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
  padding: 10px;
  transition: color 100ms;
}

.save:hover {
  background-color: #3affff;
  color: black;
}

.button-delete {
  background-color: #03c8c8;
  border-radius: 8px;
  border-style: none;
  color: #3c3c3c;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
  transition: color 100ms;
}

.button-delete:hover {
  background-color: #e7195a;
  color: white;
}

@media (max-width: 600px) {
  .collection_header {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
  }

  .card_container {
    justify-content: center;
  }
}

@media (max-width: 1023px) {
  .collection_header {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
  }
}
