.sb__footer {
  display: flex;
  flex-direction: column;
  background-color: #3c3c3c;
  width: 90%;
  justify-content: center;
  border-top: 1px solid white;
  margin-top: 2em;
}
.sb__footer-padding {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid white;
}
.centering {
  display: flex;
  justify-content: center;
  background-color: #3c3c3c;
  margin-top: 20px;
}
.sb__footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  text-align: left;
}
.sb__footer-links .socialmedia {
  align-self: center;
}
.sb__footer-links_div {
  width: 150px;
  margin: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
}
a {
  color: #ffffffa8;
  text-decoration: none;
}
.socialmedia {
  display: flex;
  flex-direction: row;
}
.social-containerf {
  background-color: #3c3c3c;
  width: 50px;
  height: 50px;
}
.social-containert {
  background-color: #3c3c3c;
  width: 50px;
  height: 50px;
}
.social-containeri {
  background-color: #3c3c3c;
  width: 50px;
  height: 50px;
}
.social1 {
  margin: 1em;
}
.socialmedia img {
  width: 80%;
}
.sb_footer-links_div h4 {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 0.9rem;
}
.sb__footer-links_div p {
  font-size: 13px;
  line-height: 15px;
  margin: 0.5rem 0;
  cursor: pointer;
}
.sb__footer-below {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 0.2rem;
}
.sb__footer-below-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1em;
}
.sb__footer-below p {
  font-size: 13px;
  line-height: 15px;
  color: #ffffffa8;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
}

.botline p:hover {
  color: #03c8c8;
}

.sb__footer-copyright {
  font-size: 13px;
  line-height: 15px;
  color: #ffffffa8;
  font-weight: 400;
  margin-left: 1em;
  margin-top: 5px;
  margin-bottom: 5px;
}
.botline {
  display: flex;
  justify-content: space-between;
  margin-left: 1em;
  margin-bottom: 1em;
}

a:hover {
  color: #03c8c8;
}

.disclaim {
  font-size: 13px;
  line-height: 15px;
  margin-left: 1em;
}

/* mobile */
@media (max-width: 600px) {
  .sb__footer-heading h1 {
    font-size: 27px;
    line-height: 38px;
  }
}

.social1 img {
  --s: 50px; /* the size of the image */
  --b: 4px; /* the border thickness*/
  --g: -3px;
  --c: #03c8c8; /* the color */

  width: var(--s);
  aspect-ratio: 1;

  outline-offset: calc(var(--s) / -2);
  cursor: pointer;
  transition: 0.3s;
}
.social1 img:hover {
  outline: var(--b) solid var(--c);
  outline-offset: var(--g);
  border-radius: 100%;
}

.social1 img + img {
  border-radius: 50%;
}

/* tablet */
@media (max-width: 1023px) {
  .sb__footer-heading h1 {
    font-size: 34px;
    line-height: 42px;
  }
  .sb__footer-links div {
    margin: 1rem 0;
  }
  .sb__footer-btn p {
    font-size: 14px;
    line-height: 20px;
  }
  .sb__footer-below {
    justify-content: left;
  }

  .sb__footer-below-links p {
    margin-top: 1rem;
  }
}


