h1 {
  color: #03c8c8;
  margin-top: 10px;
}

.homepage_card_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.homepage_card {
  background-color: #3c3c3c;
  width: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage_card_h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homepage_card {
  color: #03c8c8;
  margin: 5px;
}

.homepage_card_text {
  font-size: 16px;
  width: 240px;
  height: 150px;
  padding: 15px;
}

.homepage_card p {
  text-align: center;
  color: white;
  line-height: 26px;
  letter-spacing: 1.25px;
}

.new_collections_card {
  width: 250px;
  height: 450px;
  display: flex;
  flex-direction: column;
}

.new_collections_card_image {
  width: 250px;
  height: 250px;
}

.new_collections_card_text {
  background-color: #3c3c3c;
  color: #fff;
  width: 250px;
  height: auto;
  line-height: 26px;
  letter-spacing: 1.25px;
  padding: 10px;
}

.new_collections_card h3 {
  color: #fff;
}

.new_collections_card p {
  color: #fff;
}

/* mobile */
@media (max-width: 600px) {
  .home_title_section {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
  }

  .homepage_card_section_header {
    padding-left: 20px;
    margin-bottom: 20px;
  }

  .homepage_card_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logout {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 1023px) {
  .homepage_card_section_header {
    padding-left: 20px;
  }
}
