.navbar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #03c8c8;
  margin-bottom: 10px;
  height: 60px;
}

.logo {
  background-color: #ddd;
  width: 150px;
  height: 50px;
  cursor: pointer;
}

.nav_items_container {
  width: 100%;
}

ul {
  display: flex;
  justify-content: space-evenly;
}

li {
  list-style-type: none;
}

.nav_a:hover {
  color: #03c8c8;
}

.login_container {
  display: flex;
}

.login {
  margin-right: 50px;
}

.signup {
  margin: 0;
}

.login:hover {
  color: #03c8c8;
}

.signup:hover {
  color: #03c8c8;
}

.logout {
  display: flex;
  justify-content: flex-end;
  width: 25%;
}

/* Hamburger menu */
.hamburger-menu {
  display: none;
  cursor: pointer;
  padding: 10px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #03c8c8;
  margin: 6px 0;
  transition: 0.4s;
}

.change.bar1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change.bar2 {
  opacity: 0;
}

.change.bar3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* mobile */
@media (max-width: 600px) {

  .hamburger-menu {
    display: block;
    position: absolute; /* relative to navbar_container */
    top: 0px;
    right: 0px;
    z-index: 1001;
  }

  .nav_items_container ul {
    display: none;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 999; /* below hamburger */
  }

  .nav_items_container ul.show {
    display: flex;
  }

  .nav_items_container ul li {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #555;
  }

  .login_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .logout {
    width: 30%;
  }
}
