.pricing {
  color: #03c8c8;
  margin-bottom: 20px;
}

.pricing_text {
  color: #fff;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 1.25px;
  margin-bottom: 20px;
}

.pricing_card_container {
  display: flex;
  justify-content: space-between;
}

.pricing_card {
  display: flex;
  flex-direction: column;
}

.pricing_card_text h3 {
  color: #03c8c8;
}

.pricing_card_text {
  background-color: #3c3c3c;
  color: #fff;
  width: 250px;
  height: auto;
  line-height: 26px;
  letter-spacing: 1.25px;
  padding: 20px;
}

.pricing_card p {
  color: #fff;
}

/* mobile */
@media (max-width: 600px) {
  .pricing_container{
    padding-left: 20px;
    padding-right: 20px;
  }

  .pricing_text {
    font-size: 16px;
  }

  .pricing_card_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .pricing_card {
    margin-bottom: 20px;
  }
}

/* tablet */
@media (max-width: 1023px) {
  .pricing_container{
    padding-left: 20px;
    padding-right: 20px;
  }

  .pricing_card_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .pricing_card {
    margin-bottom: 20px;
  }
}

