/* Custom properties, method for declaring re-usable values and can be updated */
:root {
  /* font-family */
  --primary-font: "Montserrat", sans-serif;
}

/* Font-face rules outside of :root */
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Regular"),
    url("/src/assets/fonts/Montserrat-Regular.woff2") format("woff2"),
    url("/src/assets/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-SemiBold"),
    url("/src/assets/fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("/src/assets/fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

body {
  max-width: 960px;
  margin: auto;
  background-color: #242424;
  font-family: var(--primary-font);
}

h1, strong, b {
  font-weight: 600; /* SemiBold for emphasis */
}

/* Colors 
    dk grey: 242424 page background
    medium grey: 3c3c3c card background
    turquoise: 03c8c8 accent colour
    lt turquoise: 3affff button hover colour
    medium grey 2: ffffffa8 grey footer text */
